* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar section */
.logo-image {
  width: 60px;
}

// hero-section
.hero-section {
  background-image: url(/images/cover.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding: 6% 0;
  opacity: 80%;
}

.hero-left {
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: tomato;
    font-weight: bold;
  }

  p {
    color: #000;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
  }

  button {
    margin: 30px 0;
    outline: none;
  }
}

// hero section end

// Feature section start
.feature {
  text-align: center;

  h2 {
    margin-bottom: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    color: #0d6efd;
  }

  p {
    font-style: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
  }
}

// Feature card section
.feature-card {
  text-align: center;
  margin-bottom: 40px;

  i {
    font-size: 50px;
    color: #0d6efd;
  }

  h5 {
    margin: 15px 0;
    font-size: 22px;
  }

  p {
    font-style: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
  }
}

// carousel section start

.car-image {
  height: 350px;
}

// Feature section-2
.feature-2 {
  background-color: #15202b;
  color: #fff;
  border-radius: 2px;
  padding: 20px 30px;
}

// Last images section
.main-last-item {
  margin: 40px 0;

  i {
    font-size: 40px;
    margin: 0 30px;
    color: #0d6efd;
  }

  h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-style: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
  }
}

// pricing section
.pricing {
  margin: 0 150px;
  text-align: center;

  h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-style: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
  }
}

// card section

.card-1 {
  text-align: center;
  height: 250px;
  background-color: #0d6efd;
  color: #fff;

  .card-letter {
    margin-top: 80px;

    h3 {
      font-size: 45px;
      font-weight: bold;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    h4 {
      margin-top: 20px;
      font-size: 40px;

      span {
        font-size: 16px;
      }
    }
  }
}

.professional {
  background-color: rgb(53, 207, 215);
}

.business {
  background-color: #374b5c;
}

.check {
  i {
    color: #0d6efd;
    font-size: 20px;
    margin: 5px 8px;
  }

  p {
    font-style: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
  }
}

// images header
.map-image {
  height: 300px;
}

// form section
.form-right-sid {
  h3 {
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  p {
    font-style: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
  }
}

// Download section
.blog {
  text-align: center;
  margin: 0 150px;

  h1 {
    font-weight: bold;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  p {
    font-style: 16px;
    line-height: 24px;
    letter-spacing: 0.6px;
  }
}
.download-images img {
  width: 100%;
  object-fit: cover;
}

// footer section start
h4 {
  font-size: 25px;
  margin-bottom: 15px;
}

.para {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.social-icon {
  text-decoration: none;

  i {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 0.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
}

.form-control:hover,
.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* Footer section end */

